*{
    box-sizing: border-box;
}

.spaces{
    padding: 1em;
}

.search{
    float: right;
    width: 100%;
    margin: 10px 10px 0 0;
    max-width: 400px;
}
.sIcon{
    position: relative;
    top: -37px;
    left: 10px;
    padding: 0px;
    display: inline;
}
.micardinpt {
    width: 100%;
    box-sizing: border-box !important;
    margin: 0 auto !important;
    border: 1px solid #d9d7d7;
    border-radius: 6px;
    padding: 0.4em 1em;
    outline: none;
}
.colm{
    display: flex;
    flex-direction: column;
}
.inpt{
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    overflow: hidden;
}
.lble{
    font-size: 18px;
}
.cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.temp{
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    color:white;
    background-color: darkmagenta;
    width: fit-content;
}
.arrayadd{
    position: relative;
    left:190px;
    bottom: 53px;
}
.dis{
    padding: 1em;
    border: none;
    border-radius: 6px;
    background-color: #f7f5f5;
    width: 100%;
    max-width: 380px;
}
.dis p{
    float: right;
    margin: 0;
    color: blue;
}
.dis h3,h5{
    color:darkmagenta
}
.dis h1{
    color:blue;
    font-size: 80px;
}

.booked{
    border: none;
    border-radius: 20px;
    padding: 20px;
    margin: 15px 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color:black !important;
}
.sec{
    color:black !important;
    width: 33%;
    padding: 0 1em;
}
.secful{
    min-width: 100%;
    display: flex;
    justify-content: right;
}

.sec h5{
    color: rgb(59, 59, 59);
}

.rule{
    min-height: 100%;
    border: 1px solid darkmagenta;
}

@media only screen and (max-width: 800px){
    .booked{
        flex-direction: column;
    }
    .sec{
        width: 100%;
        margin: 15px 0;
    }
    .rule{
        min-height: unset;
        min-width: 100%;
    }
}